html,
body {
  width: 100%;
  height: 100%;
}
* {
  padding: 0;
  margin: 0;
}
a {
  display: block;
  color: #fff;
  text-decoration: none;
}
ul {
  list-style: none;
}
.lt-container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  min-width: 320px;
  max-width: 640px;
  position: relative;
  margin: 0 auto;
  padding-top: 45px;
}
.lt-container .lt-header {
  width: 100%;
  height: 45px;
  background-color: #006699;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 555;
}
.lt-container .lt-header .header-l,
.lt-container .lt-header .header-r {
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
}
.lt-container .lt-header h3 {
  height: 45px;
  line-height: 45px;
  text-align: center;
  margin: 0;
  color: #fff;
}
.lt-container .lt-footer {
  height: 55px;
  width: 100%;
  background-color: #006699;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 555;
}
.lt-container .lt-footer li {
  float: left;
  width: 25%;
}
.lt-container .lt-footer li a {
  width: 100%;
  height: 100% ;
  text-align: center;
  padding-top: 8px;
}
.lt-container .lt-footer li a.current {
  color: orange;
}
.lt-container .lt-footer li a.current p {
  color: orange;
}
.lt-container .lt-footer li p {
  color: #fff;
}
.lt-main {
  position: relative;
  width: 100%;
  height: 100%;
}
.lt-main .lt-search {
  padding: 10px;
  posistion: relative;
}
.lt-main .lt-search input {
  border: 1px solid #007AFF;
  border-radius: 5px;
  height: 34px;
  margin: 0;
  font-size: 12px;
}
.lt-main .lt-search button {
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 0 5px 5px 0;
}
.lt-main .lt-sort {
  background-color: #EEEEEE;
  width: 100%;
}
.lt-main .lt-sort a {
  height: 30px;
  display: block;
  float: left;
  width: 25%;
  color: #666;
  text-align: center;
  font-size: 12px;
  line-height: 30px;
}
.lt-main .lt-product {
  padding: 10px;
}
.lt-main .lt-product li {
  float: left;
  width: 48%;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
.lt-main .lt-product li:nth-child(2n+1) {
  margin-right: 4%;
}
.lt-main .lt-product li a {
  width: 100%;
  height: 100%;
}
.lt-main .lt-product li a img {
  width: 130px;
  height: 130px;
  margin: 0 auto;
  display: block;
}
.lt-main .lt-product li a P {
  text-align: center;
}
.lt-main .lt-product li a P .price {
  color: red;
}
.lt-main .lt-product li a P .oldPrice {
  text-decoration: line-through;
}
.lt-main .lt-product li a button {
  display: block;
  margin: 0 auto;
}
